ul.dropbox-app {
    background: linear-gradient(to bottom,red,orange);
    color: antiquewhite;
    font-family: Segoe UI,Tahoma,Verdana;
    list-style-type: none;
    position: relative;
    width: 985px;
    height: 35px;
    position: relative;
    
    left: -9px;
    top: -16px;
}
.filebar{
    background: linear-gradient(to bottom,red,red,red,blue,blue,blue,purple);
    height: 195px;
    width:  255px;
    float: left;
    font-family: Segoe UI, Tahoma, Verdana;
    color: antiquewhite;
    text-align: -webkit-center;
    font-weight: bolder;
}
.prop {
    display:  inline;
    margin-right: 85px;
    text-align: center;
    position: relative;
    left: 174px;
}